[submodule "modules/boost"]
	path = modules/boost
	url = https://github.com/haldayne/boost.git
[submodule "modules/customs"]
	path = modules/customs
	url = https://github.com/haldayne/customs.git
[submodule "fox"]
	path = fox
	url = https://github.com/haldayne/fox
